
<app-joke-list-item [currentJoke]="jokes[jokeIndexer]" ></app-joke-list-item>
 <h4>{{currentUser.email}}</h4>

<button (click)="handleNextJoke()">Next</button>
<button (click)="handleJokeUpVote()">😂</button>
<button (click)="handleJokeDownVote()">😒</button>