<h3>Home Content</h3>

<ng-container *ngIf="log;  then loggedIn; else notLoggedIn"></ng-container>
<ng-template #loggedIn>
<h4>1ghnrtgn</h4>
<h4>2rnert</h4>
<h4>3rtnrtn</h4>
</ng-template>


<ng-template #notLoggedIn>
    <h4>4rtrt</h4>
    <h4>5rtrt</h4>
    <h4>6rnrt</h4>
</ng-template>


<h2>{{message}}</h2>
<img class="image" [src]="picUrl" alt="no page">

<ul>
    <li *ngFor="let dailyTodo of dailyTodos">{{dailyTodo}}</li>
</ul>