<p>login works!</p>
<!-- <app-login-form></app-login-form> -->


<button (click)="loginWithKeycloak()" >LoginKeycloak</button>
<button (click)="logOutWithKeycloak()" >LogOutKeycloak</button>
<button (click)="showToken()" >ShowToken</button>
<button (click)="UseToken()" >UseToken</button>