<!-- <p (click)="triggerFunnyEvent()" >joke-list-item works!</p> -->

<p *ngIf="currentJoke!=undefined">{{currentJoke.setup}}</p>
<p *ngIf="currentJoke!=undefined">{{currentJoke.delivery}}</p>
<p *ngIf="currentJoke!=undefined">{{currentJoke.rating}}</p>


